CompileFlags:
  CompilationDatabase: build
  Add:
    - -std=c++26
    - -Wall
    - -Wextra
    - -Wpedantic
  Remove:
    - -Werror
    - -fmodules-ts
    - -fmodule-mapper=*
    - -fdeps-format=*

Index:
  Background: Build
  StandardLibrary: true

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    FastCheckFilter: Strict

Completion:
  AllScopes: true
  ArgumentLists: FullPlaceholders
  HeaderInsertion: IWYU
  CodePatterns: All

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true
  BlockEnd: true
  DefaultArguments: true
  TypeNameLimit: 32

Hover:
  ShowAKA: false

Documentation:
  CommentFormat: Doxygen

